# Arquivos de ajuda, logs e ambiente
HELP.md
*.log
.env

# Build e target
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Pastas build específicas de IDE
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Docker overrides
docker-compose.override.yml
